@page "/counter"
@using System.Net.Http.Headers;
@using Newtonsoft.Json
@inject NavigationManager navigationManager

<h1>Printer Image </h1>
<p>@message</p>
<p>@path</p>
<button class="btn btn-primary" @onclick="PrintPDF">Print PDF</button>
<button class="btn btn-primary" @onclick="PrintImage" >Print Image</button>

@code {
    private int currentCount = 0;
    private string path;
    private string message;
    private byte[] imageBytes;
    private byte[] pdfBytes;

    protected async override Task OnInitializedAsync()
    {
        pdfBytes = arrayDatas.GetPDFBytes();
        imageBytes = arrayDatas.ReturnImageBytes();
        return;
    }

    private async void PrintImage()
    {
        bool res = await _printCaller.printImage(imageBytes);
        if (res)
        {
            message = "Success!";
            StateHasChanged();
        }
        else
        {
            message = "Failed!";
            StateHasChanged();
        }
    }

    private async void PrintPDF()
    {
        bool res = await _printCaller.printPDF(pdfBytes);
        if (res)
        {
            message = "Success!";
            StateHasChanged();
        }
        else
        {
            message = "Failed!";
            StateHasChanged();
        }
    }
}
